.fa-youtube{
    color:rgb(229, 0, 0);
    transition: 1s;
}
.fa-youtube:hover span{
    color:rgb(74, 3, 11);
}
.tooltip{
    position: absolute;
}
.tooltip>span{
    background-color: rgb(0, 0, 0);
    color:#fff;
    font-size: 1.1em;
    padding:10px;
    border-radius: 3px;
    box-shadow: 0 5px 10px #3e3c3c;
    position: absolute;
    top: 20px;
    left:100px;
    width: 200px;
    display: none;
}
.tooltip:hover span{
    display: block;
}
.tooltip>span::before{
    content: "";
    position: absolute;
    border: 10px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0) transparent transparent;
    left:-20px;
    z-index: 2;
}